.App {
  > .button {
    position: absolute;
    top     : calc(5% - 20px);
    left    : 20px;

    background-image: url('../imgs/left.svg');
    background-size : 40px 40px;

    width : 40px;
    height: 40px;
  }
}
