.App {
  > .button {
    position: absolute;
    top     : calc(5% - 20px);

    background-image: url('../assets/imgs/left.svg');
    background-size : 40px 40px;

    width : 40px;
    height: 40px;

    &.left {
      left: 20px;
    }

    &.right {
      right: 20px;

      transform: scaleX(-1);
    }
  }
}
