%type {
  background-size: 50px 80px;
  width : 50px;
  height: 80px;
}

.EarTrainingView {
  display        : flex;
  flex-direction : column;
  justify-content: space-around;
  align-items    : center;

  width : 100vw;
  height: 100vh;

  .message {
    font-size: 40px;
    width    : 200px;

    .yep,
    .nope {
      position: absolute;
      width   : 200px;

      text-align: center;

      opacity   : 0;
      transition: opacity .3s ease;

      &.show {
        opacity   : 1;
        transition: opacity 0s;
      }
    }

    .yep {
      color: nth(nth($colors, 4), 3);
    }

    .nope {
      color: nth(nth($colors, 2), 3);
    }
  }

  .controls {
    display        : flex;
    justify-content: space-evenly;

    width: 100%;
  }

  .root,
  .type  > .harm,
  .type  > .melo,
  .speed > .whole,
  .speed > .half {
    width : 80px;
    height: 80px;

    border        : 2px solid transparent;
    border-radius : 15px;
    vertical-align: top;

    transition: border-color .3s ease;

    &.selected {
      border-color: $general-color;
    }
  }

  .root {
    background-image   : url('../assets/imgs/random.svg');
    background-repeat  : no-repeat;
    background-position: center;
    background-size    : 70px;
  }

  .type {
    > div {
      display: inline-block;
    }

    .harm {
      background-image   : url('../assets/imgs/harm.png');
      background-size    : 50px 80px;
      background-repeat  : no-repeat;
      background-position: center;
    }

    .melo {
      &:before,
      &:after {
        content: '';
        display   : inline-block;
        width     : 25px;
        height    : 80px;
      }

      &:before {
        margin-left     : 12.5px;
        background-image: url('../assets/imgs/melo1.png');
      }

      &:after {
        background-image: url('../assets/imgs/melo2.png');
      }
    }
  }

  .speed {
    font-size: 40px;

    transition: opacity .3s ease;

    &.hide {
      opacity       : .2;
      pointer-events: none;

      > div {
        border-color: transparent!important;
      }
    }

    > div {
      display   : inline-block;
      text-align: center;
    }
  }
}
