.ModesView {
  width   : 100vw;
  height  : 100vh;
  overflow: hidden;

  .titles {
    display        : flex;
    justify-content: space-evenly;
    align-items    : center;

    border-bottom: 4px solid $general-color;
    height       : 10%;

    font-size: 20px;
  }

  .title {
    &.shown {
      font-weight    : bold;
      text-decoration: underline;
    }
  }

  .lists {
    display        : flex;
    justify-content: space-evenly;
    flex-wrap      : wrap;

    height: 90%;

    overflow: scroll;
  }

  .ModeList {
    > .name {
      font-size    : 20px;
      margin       : 20px 0 10px 0;
      border-bottom: 1px dotted $general-color;
    }

    .Mode {
      margin: 10px 0;
    }
  }
}
