.Selector {
  $Box-margin: $Box-size * $Box-size2margin;
  $Box-outer : $Box-size + 2 * $Box-margin;
  $offsets   : (1 (1 2 4 7 9 11)) (1/2 (6));

  .notes,
  .intervals {
    display: inline-block;
  }

  .intervals {
    padding-left: $Box-outer;
  }

  .Column {
    display       : inline-block;
    vertical-align: top;

    .Box {
      display: block;
    }

    @each $offset in $offsets {
      $factor: nth($offset, 1);

      @each $n in nth($offset, 2) {
        &:nth-child(#{$n}) {
          padding-top: $factor * $Box-outer - $factor * $Box-margin;
        }
      }
    }
  }
}
