@value _easing from "../variables.css";

.transition {
    transform: rotate(var(--angle)) translateX(0);
    transform-origin: .5px .5px;

    /* will-change: transform; */
}

.to {
    transform: rotate(var(--angle)) translateX(var(--width));
    transition: transform var(--duration) _easing;
}

.mask {
    rx: var(--radius);
    ry: var(--radius);
}

.enter { composes: transition; }
.leave { composes: transition; }
