.grid {
  display: block;
  width: 70%;
  margin: auto;
  padding: 1%;

  background: white;
  color: black;

  [highlight] {
    background-color: var(--color);
    box-shadow: var(--color) 0px 0px 5px 2px;
  }

  $color: yellow;
  @each $type, $alpha in (section: .9, line: 1, bar: .7, chord: 1) {
    .#{ $type }[highlight] {
      --color: transparentize($color, $alpha);
    }
  }
}

.section {
}

.line {
  display: flex;
  justify-content: space-between;
  margin-top: .5%;
  padding: .5% 0;
}

.bar {
  position: relative;
  width: 100%;
  padding: 0 1%;
  border-left: 1px solid black;

  &:last-child {
    border-right: 1px solid black;

    &[end] {
      border-right: 3px double black;
    }
  }

  &[start],
  &[end] + & {
    border-left: 3px double black;
  }

  &[start]::before,
  &[end  ]::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &[start]::before {
    display: block;
    content: ':';
    margin: auto;
    left: 2%;
  }

  &[end]::after {
    display: block;
    content: ':';
    margin: auto;
    right: 2%;
  }

  repeat {
    position: absolute;
    top: -35%;
    right: 2%;
    font-size: 80%;
  }
}

.chords {
  display: flex;
}

.chord {
  padding: 0 2%;

  &::after {
    content: '';
    display: block;
    border-bottom: 1px solid transparent;
  }

  &[highlight]::after {
    border-bottom-color: black;
  }
}

.name {
  display: block;
}

.duration {
  display: block;

  &[duration] {
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    background-size: 12px;
    background-position: center center;
  }

  &[duration="4"] { background-size: 8px }

  &[duration="0.5"] { background-image: url('/assets/svg/duration/0.5.svg') }
  &[duration="1"  ] { background-image: url('/assets/svg/duration/1.svg'  ) }
  &[duration="2"  ] { background-image: url('/assets/svg/duration/2.svg'  ) }
  &[duration="4"  ] { background-image: url('/assets/svg/duration/4.svg'  ) }
}