@value _easing: cubic-bezier(0.55, 0.085, 0.68, 0.53);

.animation {
    animation-name: animate;
    animation-timing-function: _easing;
    animation-fill-mode: both;
    animation-duration: var(--duration);
    animation-play-state: var(--state, paused);

    transform-origin: var(--origin);
    will-change: transform;
}

.enter { composes: animation; }
.leave { composes: animation; }

@keyframes animate {
    from { transform: var(--from) }
    to   { transform: var(--to  ) }
}
