@value _easing: cubic-bezier(0.55, 0.085, 0.68, 0.53);

.transition {
    transform: var(--from);
    transform-origin: var(--origin);

    /* will-change: transform; */
}

.to {
    transform: var(--to);
    transition: transform var(--duration) _easing;
}

.shape {}
.enter { composes: transition; }
.leave { composes: transition; }
