.Box {
  @include colors;
  @include box($Box-size, $Box-size2margin, $Box-size2border, $Box-size2radius, $Box-color, $Box-highlight);

  display      : inline-block;
  box-sizing   : border-box;
  border-style : solid;
  cursor       : pointer;
  text-align   : center;
}
