.Guitar {
  > .wrap {
    display: inline-block;
  }

  .String {
    display: flex;

    .Box {
      @include box($Guitar-size, $Guitar-size2margin, $Guitar-size2border, $Guitar-size2radius, $Guitar-color, $Guitar-highlight);

      cursor: initial;

      &:first-child {
        width: $Guitar-size / 2;
        font-size: $Guitar-size / 4;
      }
    }
  }
}
