.Guitar {
  display         : inline-block;
  background-color: $Guitar-background;

  .String {
    display: flex;

    .Fret {
      @include colors;

      display      : inline-block;
      margin       : $Fret-margin;
      width        : $Fret-width;
      height       : $Fret-height;
      border-radius: $Fret-radius;
      border-width : $Fret-border;
      border-style : solid;
      border-color : $general-background;

      &:first-child {
        width: $Fret-width / 3;
      }

      &.highlight {
        border-color: $Fret-highlight;
      }
    }
  }
}
