@mixin colors {
  $bases: 'C' 'D' 'E' 'F' 'G' 'A' 'B' '1' '2' '3' '4' '5' '6' '7';
  $accs : -2 -1 0 1;

  $i: 0;
  @each $base in $bases {
    $i: if($i > 7, 1, $i + 1);

    @if ($i == 8) {
      $i: 1;
    }

    $j: 0;
    @each $acc in $accs {
      $j: $j + 1;

      &[base="#{ $base }"][accs="#{ $acc }"] {
        $value: nth(nth($colors, $i), $j);
        background-color: $value;
      }
    }
  }

  &[base="0"] {
    background-color: $color0;
  }
}

@mixin box($size, $size2margin, $size2border, $size2radius, $color, $highlight) {
  $margin: $size * $size2margin;
  $border: $size * $size2border;
  $radius: $size * $size2radius;

  width        : $size;
  height       : $size;
  line-height  : $size - 2 * ($margin + $border);
  margin       : $margin;
  padding      : $margin;
  border-radius: $radius;
  border-width : $border;
  color        : $color;
  font-size    : $size / 2;

  &.selected {
    border-color: $highlight;
  }
}
