@mixin colors {
  $bases: 'C' 'D' 'E' 'F' 'G' 'A' 'B' '1' '2' '3' '4' '5' '6' '7';
  $accs : -2 -1 0 1;

  $i: 0;
  @each $base in $bases {
    $i: if($i > 7, 1, $i + 1);

    @if ($i == 8) {
      $i: 1;
    }

    $j: 0;
    @each $acc in $accs {
      $j: $j + 1;

      &[base="#{ $base }"][accs="#{ $acc }"] {
        $var  : --color#{ $i }-#{ $acc };
        $value: nth(nth($colors, $i), $j);
        background-color: var($var, $value);
      }
    }
  }

  &[base="0"] {
    background-color: var(--color0, $color0);
  }
}
