@mixin _accidentals {
  $accs: map-keys($modifiers);

  @each $acc in $accs {
    &[accs="#{ $acc }"] {
      filter: saturate(map-get($modifiers, $acc));
      filter: brightness(map-get($modifiers, $acc));
    }
  }
}

@mixin colors {
  $bases: 'C' 'D' 'E' 'F' 'G' 'A' 'B' '1' '2' '3' '4' '5' '6' '7';

  $i: 0;
  @each $base in $bases {
    $i: if($i > 7, 1, $i + 1);

    @if ($i == 8) {
      $i: 1;
    }

    &[base="#{ $base }"] {
      @include _accidentals;

      background-color: var(--color#{ $i }, nth($colors, $i));
    }
  }

  &[base="0"] {
    background-color: var(--color0, $color0);
  }
}
