@value _easing from "../variables.css";

.transition {
    transform: var(--from);
    transform-origin: var(--origin);

    /* will-change: transform; */
}

.to {
    transform: var(--to);
    transition: transform var(--duration) _easing;
}

.shape {}
.enter { composes: transition; }
.leave { composes: transition; }
