@import '../variables.scss';

.guitar {
  display: grid;
  grid-template-areas: 'layers';

  &.open {
    .box:first-child {
      width: $boxWidth / 3;
    }
  }
}

.layer {
  display: block;
  grid-area: layers;
}

.string {
  display: block;
  height: $boxHeight; /* Removes auto margin with inline-block children */
  padding: $stringGap 0;
}

.box {
  display: inline-block;
  box-sizing: border-box;
  width: $boxWidth;
  height: $boxHeight;
  margin: 0 $boxGap;
}
