@value _box-width, _box-height, _box-gap, _string-gap from "../variables.css";

.guitar {
  display: grid;
  grid-template-areas: "layers";
}

.layer {
  display: block;
  grid-area: layers;
}

.string {
  display: block;
  height: _box-height; /* Removes auto margin with inline-block children */
  padding: _string-gap 0;
}

.box {
  display: inline-block;
  box-sizing: border-box;
  width: _box-width;
  height: _box-height;
  margin: 0 _box-gap;
}
