// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ============================================================================
//                                 VARIABLES
// ============================================================================
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
$foreground: white;
$background: black;
$color0    : #222;
$colors    : (
  ($foreground        $foreground        $foreground        $foreground)
  (hsl(  0, 20%, 20%) hsl(  0, 40%, 40%) hsl(  0, 60%, 60%) hsl(  0, 80%, 80%))
  (hsl( 60, 20%, 20%) hsl( 60, 40%, 40%) hsl( 60, 60%, 60%) hsl( 60, 80%, 80%))
  (hsl(120, 20%, 20%) hsl(120, 40%, 40%) hsl(120, 60%, 60%) hsl(120, 80%, 80%))
  (hsl(180, 20%, 20%) hsl(180, 40%, 40%) hsl(180, 60%, 60%) hsl(180, 80%, 80%))
  (hsl(240, 20%, 20%) hsl(240, 40%, 40%) hsl(240, 60%, 60%) hsl(240, 80%, 80%))
  (hsl(300, 20%, 20%) hsl(300, 40%, 40%) hsl(300, 60%, 60%) hsl(300, 80%, 80%))
);

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ============================================================================
//                                 GENERAL
// ============================================================================
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
$general-background: $background;
$general-color     : $foreground;

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ============================================================================
//                                   MODE
// ============================================================================
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
$Mode-size     : 30px;
$Mode-color    : black;
$Mode-highlight: white;

$Mode-size2margin: 1 / 30;
$Mode-size2border: 1 / 10;
$Mode-size2radius: 1 / 4;

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ============================================================================
//                                  GUITAR
// ============================================================================
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
$Guitar-size     : 70px;
$Guitar-color    : black;
$Guitar-highlight: white;

$Guitar-size2margin: 1 / 20;
$Guitar-size2border: 1 / 10;
$Guitar-size2radius: 1 / 4;

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ============================================================================
//                                   BOX
// ============================================================================
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
$Box-size     : 40px;
$Box-color    : black;
$Box-highlight: white;

$Box-size2margin: 1 / 18;
$Box-size2border: 1 / 18;
$Box-size2radius: 1 / 4;
