// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ============================================================================
//                                 VARIABLES
// ============================================================================
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
$foreground: white;
$background: black;
$color0    : #222;
$colors    : (
  ($foreground        $foreground        $foreground        $foreground)
  (hsl(  0, 25%, 25%) hsl(  0, 41%, 41%) hsl(  0, 57%, 57%) hsl(  0, 76%, 76%))
  (hsl( 60, 25%, 25%) hsl( 60, 41%, 41%) hsl( 60, 57%, 57%) hsl( 60, 76%, 76%))
  (hsl(120, 25%, 25%) hsl(120, 41%, 41%) hsl(120, 57%, 57%) hsl(120, 76%, 76%))
  (hsl(180, 25%, 25%) hsl(180, 41%, 41%) hsl(180, 57%, 57%) hsl(180, 76%, 76%))
  (hsl(240, 25%, 25%) hsl(240, 41%, 41%) hsl(240, 57%, 57%) hsl(240, 76%, 76%))
  (hsl(300, 25%, 25%) hsl(300, 41%, 41%) hsl(300, 57%, 57%) hsl(300, 76%, 76%))
);

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ============================================================================
//                                 GENERAL
// ============================================================================
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
$general-background: $background;
$general-color     : $foreground;

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ============================================================================
//                                   MODE
// ============================================================================
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
$Mode-size     : 30px;
$Mode-color    : black;
$Mode-highlight: white;

$Mode-size2margin: 1 / 30;
$Mode-size2border: 1 / 10;
$Mode-size2radius: 1 / 4;

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ============================================================================
//                                  GUITAR
// ============================================================================
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
$Guitar-size     : 70px;
$Guitar-color    : black;
$Guitar-highlight: white;

$Guitar-size2margin: 1 / 20;
$Guitar-size2border: 1 / 10;
$Guitar-size2radius: 1 / 4;

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ============================================================================
//                                   BOX
// ============================================================================
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
$Box-size     : 40px;
$Box-color    : black;
$Box-highlight: white;

$Box-size2margin: 1 / 18;
$Box-size2border: 1 / 18;
$Box-size2radius: 1 / 4;
