$Selector-foreground: $background;
$Selector-background: $background;

$Box-width    : 24px;
$Box-height   : 24px;
$Box-margin   : 4px 2px;
$Box-padding  : 4px 4px;
$Box-radius   : 3px;
$Box-border   : 1px;
$Box-highlight: white;
