$foreground: white;
$background: black;
$color0    : #222;
$colors    : (
  ($foreground        $foreground        $foreground        $foreground)
  (hsl(  0, 30%, 30%) hsl(  0, 35%, 35%) hsl(  0, 50%, 50%) hsl(  0, 65%, 65%))
  (hsl( 60, 30%, 30%) hsl( 60, 35%, 35%) hsl( 60, 50%, 50%) hsl( 60, 65%, 65%))
  (hsl(120, 30%, 30%) hsl(120, 35%, 35%) hsl(120, 50%, 50%) hsl(120, 65%, 65%))
  (hsl(180, 30%, 30%) hsl(180, 35%, 35%) hsl(180, 50%, 50%) hsl(180, 65%, 65%))
  (hsl(240, 30%, 30%) hsl(240, 35%, 35%) hsl(240, 50%, 50%) hsl(240, 65%, 65%))
  (hsl(300, 30%, 30%) hsl(300, 35%, 35%) hsl(300, 50%, 50%) hsl(300, 65%, 65%))
);
