@value _box-width, _box-height from "../variables.css";

.clipped {
    clip-path: var(--clip);
}

.leave {
    composes: clipped;

    position: absolute;
}

.enter {
    composes: clipped;
}

.boxUnit {
    composes: clipped;

    display: block;
    width: _box-width;
    height: _box-height;
    box-sizing: border-box;

    border-width: var(--borderWidth);
    border-style: var(--borderStyle);
    border-color: var(--borderColor);
    border-radius: var(--borderRadius);

    background-color: var(--color);
}
